In [59]:
import sqlalchemy
sqlalchemy.__version__

'2.0.9'

In [71]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///newDB.db', echo=True)
#engine = create_engine("mysql+mysqldb://u:p@host/db", pool_size=10, max_overflow=20)

In [72]:
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

/tmp/ipykernel_5565/767083216.py:3: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [73]:
from sqlalchemy import Column, Integer, String
class Student(Base):
    __tablename__ = 'student'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    nickname = Column(String)

    def __repr__(self):
       return "<User(name='%s', fullname='%s', nickname='%s')>" % (
                            self.name, self.fullname, self.nickname)

In [74]:
### Describe Table

Student.__table__

## SAVING DATA
Base.metadata.create_all(bind=engine)

2023-04-18 15:20:15,677 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-18 15:20:15,678 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("student")
2023-04-18 15:20:15,679 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-18 15:20:15,680 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("student")
2023-04-18 15:20:15,681 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-18 15:20:15,683 INFO sqlalchemy.engine.Engine
CREATE TABLE student (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	nickname VARCHAR,
	PRIMARY KEY (id)
)


2023-04-18 15:20:15,684 INFO sqlalchemy.engine.Engine [no key 0.00127s] ()
2023-04-18 15:20:15,714 INFO sqlalchemy.engine.Engine COMMIT

In [75]:
### Create Session 
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session=Session()
session.commit()

In [76]:
student1=Student(name="Komal",fullname="Komal Gore" ,nickname="Kaju")
session.add(student1)

In [77]:

student2=Student(id=2,fullname="Komal" ,nickname="Didu")
session.add(student2)

In [78]:
session.add_all([
    Student(name='K1', fullname='KG', nickname='windy'),
    Student(name='K2', fullname='MG', nickname='mary'),
    Student(name='K3', fullname='JG', nickname='freddy')])

In [79]:
data = session.query(Student).filter_by(name='Komal Gore')

In [80]:
session.query(Student).filter_by(name='Komal Gore')

In [81]:
session.commit()

2023-04-18 15:20:18,483 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-18 15:20:18,486 INFO sqlalchemy.engine.Engine INSERT INTO student (name, fullname, nickname) VALUES (?, ?, ?)
2023-04-18 15:20:18,487 INFO sqlalchemy.engine.Engine [generated in 0.00170s] ('Komal', 'Komal Gore', 'Kaju')
2023-04-18 15:20:18,490 INFO sqlalchemy.engine.Engine INSERT INTO student (id, name, fullname, nickname) VALUES (?, ?, ?, ?)
2023-04-18 15:20:18,491 INFO sqlalchemy.engine.Engine [generated in 0.00106s] (2, None, 'Komal', 'Didu')
2023-04-18 15:20:18,497 INFO sqlalchemy.engine.Engine INSERT INTO student (name, fullname, nickname) VALUES (?, ?, ?), (?, ?, ?), (?, ?, ?) RETURNING id
2023-04-18 15:20:18,497 INFO sqlalchemy.engine.Engine [generated in 0.00017s (insertmanyvalues)] ('K1', 'KG', 'windy', 'K2', 'MG', 'mary', 'K3', 'JG', 'freddy')
2023-04-18 15:20:18,501 INFO sqlalchemy.engine.Engine COMMIT

In [82]:
session.query(Student).all()

2023-04-18 15:20:19,175 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-18 15:20:19,178 INFO sqlalchemy.engine.Engine SELECT student.id AS student_id, student.name AS student_name, student.fullname AS student_fullname, student.nickname AS student_nickname
FROM student
2023-04-18 15:20:19,179 INFO sqlalchemy.engine.Engine [generated in 0.00136s] ()

[<User(name='Komal', fullname='Komal Gore', nickname='Kaju')>,
 <User(name='None', fullname='Komal', nickname='Didu')>,
 <User(name='K1', fullname='KG', nickname='windy')>,
 <User(name='K2', fullname='MG', nickname='mary')>,
 <User(name='K3', fullname='JG', nickname='freddy')>]

In [83]:
for name, fullname in session.query(Student.name, Student.fullname):
    print(name, fullname)

2023-04-18 15:20:19,905 INFO sqlalchemy.engine.Engine SELECT student.name AS student_name, student.fullname AS student_fullname
FROM student
2023-04-18 15:20:19,907 INFO sqlalchemy.engine.Engine [generated in 0.00194s] ()
Komal Komal Gore
None Komal
K1 KG
K2 MG
K3 JG

In [84]:
session.commit()

2023-04-18 15:20:20,514 INFO sqlalchemy.engine.Engine COMMIT

In [85]:
session.close()